@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #333333; /* Dark grey base */
  --primary-text: #FFFFFF; /* White text for contrast */
  --secondary-bg: #444444; /* Lighter grey for subtle sections */
  --accent: #0033AA; /* Cool muted blue, subtle not flashy */
  --border: #555555; /* Medium grey for dividers */
}

body {
  color: var(--primary-text);
  background: var(--background);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-weight: normal;
}

.collapse-title, .collapse-content {
  transition: background-color .75s ease; /* Smooth transition for background color */
}

.modal-box {
  max-width: fit-content;
}

@media (min-width: 768px) {
  #__next > div > main.md\:pl-64 {
    padding-left: 1rem;
  }
}
